<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="log/nlog.log">
  <!--Trace -》Debug-》 Information -》Warning-》 Error-》 Critical-->
  <!--跟踪日志 -> 调试日志 -> 普通信息日志 -> 警告日志 -> 错误日志- > 异常日志-->

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- 记录所有日志 -->
    <target xsi:type="File"
            name="all"
            fileName="log/all-${shortdate}.log"
            layout="${longdate} | ${event-properties:item=EventId_Id} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" />
    <!-- 记录跳过Microsoft 开头的类库输出的相关信息 -->
    <target xsi:type="File"
            name="web"
            fileName="log/web-${shortdate}.log"
            layout="${longdate} | ${event-properties:item=EventId_Id} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="all" />
    <logger name="*" minlevel="Trace" writeTo="web" />
  </rules>
</nlog>